In [9]:
import pymongo
import json

In [10]:
client = pymongo.MongoClient("mongodb://localhost:27017")

In [11]:
db = client["UTD_Dining"]

In [12]:
Employee_collection = db["Employee"]

In [13]:
Department_collection = db["Department"]

In [14]:
departments_data = [
    {
        "DepartmentID": "DEPT001",
        "DepartmentName": "Dining Services",
    },
        {
        "DepartmentID": "DEPT002",
        "DepartmentName": "Kitchen Operations",
    },
        {
        "DepartmentID": "DEPT003",
        "DepartmentName": "Customer Service",
    },
        {
        "DepartmentID": "DEPT004",
        "DepartmentName": "Facility Management",
    }
   
]

In [18]:
Department_collection.insert_many(departments_data)

In [19]:
employees_data = [
    {
        "EmployeeID": f"EMP001",
        "FirstName": "David",
        "LastName": "Miller",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 32000
    },
    {
        "EmployeeID": f"EMP002",
        "FirstName": "Olivia",
        "LastName": "Johnson",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 33000
    },
    {
        "EmployeeID": f"EMP003",
        "FirstName": "Sophia",
        "LastName": "Williams",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 34000
    },
    {
        "EmployeeID": f"EMP004",
        "FirstName": "Michael",
        "LastName": "Brown",
        "Position": "Staff",
        "DepartmentID": "DEPT004",
        "Salary": 35000
    },
    {
        "EmployeeID": f"EMP005",
        "FirstName": "Emma",
        "LastName": "Jones",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 36000
    },
    {
        "EmployeeID": f"EMP006",
        "FirstName": "William",
        "LastName": "Garcia",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 37000
    },
    {
        "EmployeeID": f"EMP007",
        "FirstName": "Amelia",
        "LastName": "Smith",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 38000
    },
    {
        "EmployeeID": f"EMP008",
        "FirstName": "Daniel",
        "LastName": "Davis",
        "Position": "Manager",
        "DepartmentID": "DEPT004",
        "Salary": 50000
    },
    {
        "EmployeeID": f"EMP009",
        "FirstName": "Ava",
        "LastName": "Moore",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 48000
    },
    {
        "EmployeeID": f"EMP010",
        "FirstName": "Logan",
        "LastName": "Martin",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 30000
    },
    {
        "EmployeeID": f"EMP011",
        "FirstName": "Ella",
        "LastName": "Anderson",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 42000
    },
    {
        "EmployeeID": f"EMP012",
        "FirstName": "Caleb",
        "LastName": "Thompson",
        "Position": "Staff",
        "DepartmentID": "DEPT004",
        "Salary": 28000
    },
    {
        "EmployeeID": f"EMP013",
        "FirstName": "Mia",
        "LastName": "White",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 31000
    },
    {
        "EmployeeID": f"EMP014",
        "FirstName": "James",
        "LastName": "Harris",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 52000
    },
    {
        "EmployeeID": f"EMP015",
        "FirstName": "Evelyn",
        "LastName": "Martinez",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 45000
    },
    {
        "EmployeeID": f"EMP016",
        "FirstName": "Benjamin",
        "LastName": "Jackson",
        "Position": "Staff",
        "DepartmentID": "DEPT004",
        "Salary": 48000
    },
    {
        "EmployeeID": f"EMP017",
        "FirstName": "Lily",
        "LastName": "Clark",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 47000
    },
    {
        "EmployeeID": f"EMP018",
        "FirstName": "Aiden",
        "LastName": "Taylor",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 49000
    },
    {
        "EmployeeID": f"EMP019",
        "FirstName": "Zoe",
        "LastName": "Baker",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 51000
    },
    {
        "EmployeeID": f"EMP020",
        "FirstName": "Jackson",
        "LastName": "Cooper",
        "Position": "Staff",
        "DepartmentID": "DEPT004",
        "Salary": 32000
    },
    {
        "EmployeeID": f"EMP021",
        "FirstName": "Chloe",
        "LastName": "Hill",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 31000
    },
    {
        "EmployeeID": f"EMP022",
        "FirstName": "Daniel",
        "LastName": "Barnes",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 49000
    },
    {
        "EmployeeID": f"EMP023",
        "FirstName": "Grace",
        "LastName": "Ward",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 52000
    },
    {
        "EmployeeID": f"EMP024",
        "FirstName": "Mason",
        "LastName": "Carter",
        "Position": "Staff",
        "DepartmentID": "DEPT004",
        "Salary": 30000
    },
    {
        "EmployeeID": f"EMP025",
        "FirstName": "Layla",
        "LastName": "Fisher",
        "Position": "Staff",
        "DepartmentID": "DEPT001",
        "Salary": 28000
    },
    {
        "EmployeeID": f"EMP026",
        "FirstName": "Ethan",
        "LastName": "Perez",
        "Position": "Staff",
        "DepartmentID": "DEPT002",
        "Salary": 31000
    },
    {
        "EmployeeID": f"EMP027",
        "FirstName": "Madison",
        "LastName": "Foster",
        "Position": "Staff",
        "DepartmentID": "DEPT003",
        "Salary": 53000
    },
    {
        "EmployeeID": f"EMP028",
        "FirstName": "Liam",
        "LastName": "Hernandez",
        "Position": "Staff",
        "DepartmentID": "DEPT004",
        "Salary": 46000
    }
]

In [20]:
#commented to avoid addition of it multiple times
Employee_collection.insert_many(employees_data)

In [22]:
json_file_path = "UTD_Dining.Employee.json"

# Read JSON data from the file
with open(json_file_path, 'r') as json_file:
    employees_data = json.load(json_file)


# Specify the MySQL table name and column names
table_name = "Employee"
columns = ["EmployeeID", "FirstName", "LastName", "Position", "DepartmentID", "Salary"]

# Generate SQL script
sql_script = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES"

# Iterate through each employee record
for employee in employees_data:
    # Create a VALUES clause for each record
    values_clause = f"('{employee['EmployeeID']}', '{employee['FirstName']}', '{employee['LastName']}', '{employee['Position']}', '{employee['DepartmentID']}', {employee['Salary']})"
    
    # Add the VALUES clause to the SQL script
    sql_script += f"\n{values_clause},"

# Remove the trailing comma
sql_script = sql_script.rstrip(',')

# Print the generated SQL script
print(sql_script)

INSERT INTO Employee (EmployeeID, FirstName, LastName, Position, DepartmentID, Salary) VALUES
('EMP001', 'David', 'Miller', 'Staff', 'DEPT001', 32000),
('EMP002', 'Olivia', 'Johnson', 'Staff', 'DEPT002', 33000),
('EMP003', 'Sophia', 'Williams', 'Staff', 'DEPT003', 34000),
('EMP004', 'Michael', 'Brown', 'Staff', 'DEPT004', 35000),
('EMP005', 'Emma', 'Jones', 'Staff', 'DEPT001', 36000),
('EMP006', 'William', 'Garcia', 'Staff', 'DEPT002', 37000),
('EMP007', 'Amelia', 'Smith', 'Staff', 'DEPT003', 38000),
('EMP008', 'Daniel', 'Davis', 'Manager', 'DEPT004', 50000),
('EMP009', 'Ava', 'Moore', 'Staff', 'DEPT001', 48000),
('EMP010', 'Logan', 'Martin', 'Staff', 'DEPT002', 30000),
('EMP011', 'Ella', 'Anderson', 'Staff', 'DEPT003', 42000),
('EMP012', 'Caleb', 'Thompson', 'Staff', 'DEPT004', 28000),
('EMP013', 'Mia', 'White', 'Staff', 'DEPT001', 31000),
('EMP014', 'James', 'Harris', 'Staff', 'DEPT002', 52000),
('EMP015', 'Evelyn', 'Martinez', 'Staff', 'DEPT003', 45000),
('EMP016', 'Benjamin', 'Jackson', 'Staff', 'DEPT004', 48000),
('EMP017', 'Lily', 'Clark', 'Staff', 'DEPT001', 47000),
('EMP018', 'Aiden', 'Taylor', 'Staff', 'DEPT002', 49000),
('EMP019', 'Zoe', 'Baker', 'Staff', 'DEPT003', 51000),
('EMP020', 'Jackson', 'Cooper', 'Staff', 'DEPT004', 32000),
('EMP021', 'Chloe', 'Hill', 'Staff', 'DEPT001', 31000),
('EMP022', 'Daniel', 'Barnes', 'Staff', 'DEPT002', 49000),
('EMP023', 'Grace', 'Ward', 'Staff', 'DEPT003', 52000),
('EMP024', 'Mason', 'Carter', 'Staff', 'DEPT004', 30000),
('EMP025', 'Layla', 'Fisher', 'Staff', 'DEPT001', 28000),
('EMP026', 'Ethan', 'Perez', 'Staff', 'DEPT002', 31000),
('EMP027', 'Madison', 'Foster', 'Staff', 'DEPT003', 53000),
('EMP028', 'Liam', 'Hernandez', 'Staff', 'DEPT004', 46000)

In [27]:

# Specify the path to your JSON file
json_file_path_shifts = "UTD_Dining.Department.json"

# Read JSON data from the shifts file
with open(json_file_path_shifts, 'r') as json_file_shifts:
    department_data = json.load(json_file_shifts)


# Specify the MySQL table name and column names for shifts
table_name_shifts = "Department"
columns_shifts = ["DepartmentID", "DepartmentName"]

# Generate SQL script for shifts
sql_script_shifts = f"INSERT INTO {table_name_shifts} ({', '.join(columns_shifts)}) VALUES"

# Iterate through each shift record
for Department in department_data:
    # Create a VALUES clause for each shift record
    values_clause_shifts = f"('{Department['DepartmentID']}', '{Department['DepartmentName']}')"
    
    # Add the VALUES clause to the SQL script for shifts
    sql_script_shifts += f"\n{values_clause_shifts},"

# Remove the trailing comma
sql_script_shifts = sql_script_shifts.rstrip(',')

# Print the generated SQL script for shifts
print(sql_script_shifts)

INSERT INTO Department (DepartmentID, DepartmentName) VALUES
('DEPT001', 'Dining Services'),
('DEPT002', 'Kitchen Operations'),
('DEPT003', 'Customer Service'),
('DEPT004', 'Facility Management')